.wrapContact {
  //background-image: url(../../../Components/Pages/Contact/assets/Contact.png);
  //height: 50em;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  font-family: "Open Sans";
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  .contact_header {
    background-image: url(../../../Components/Pages/Contact/assets/Contact.png);
    grid-row: 1 / 4;
    grid-column: 1 / 5;
  }
  .contact {
    grid-row: 1 / 8;
    grid-column: 2 / 3;
    width: 120%;
    padding: 2em;
    //height: 700px;
    .contact_heading {
      font-size: 3.157em;
      color: rgba(255, 255, 255, 255);
      font-weight: 700 bold;
      margin-top: 1.3em;
      margin-left: 2em;
    }
    .contact_form {
      background-color: rgba(255, 255, 255, 255);
      border: 2px solid white;
      border-radius: 7px;
      box-shadow: 3px 3px 5px #9b9a9a;
      margin-top: 2em;
      // height: 100em;
      padding: 3em;
      .contact_label {
        color: black;
        margin-top: 1em;
        display: block;
        //margin-left: 4em;
        //font-size: 2.2em;
      }
      .contact_input {
        margin-top: 1em;
        width: 100%;
        padding: 0em;
        //margin-left: 1em;
        //margin-right: 4em;
      }
      .contact_button {
        background-color: $primary-teal-blue;
        color: rgba(255, 255, 255, 255);
        width: 40%;
        font-size: 1.333em;
        font-weight: bold;
        padding: 6px 16px;
        border: 3px solid $primary-teal-blue;
        margin-top: 1rem;
        //margin-left: 4rem;
        text-transform: capitalize;
      }
    }
  }
  .contact_circular_shape {
    grid-row: 6 / 9;
    grid-column: 1 / 3;
    
    width: 100%;
    z-index: -1;
    background-image: url(../../../Components/Pages/Contact/assets/Contact_Shape.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
}
