.wrapContact{
    background-image: url(../../../Components/Pages/Contact/assets/Contact.png);
    height: 50em;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    .contact_heading{

        color: rgba(255,255,255,255);
        font-size: 2.369em;
        font-weight: 700 bold;
        // margin-left: 60em;
        // margin-top: 4em;
        }
}

    


