.wrapPricing {
    margin-bottom: 50px;
}

.topImage {
    background-image: url(/static/media/home-hero-image.06203f52.png);
    color: white;
    text-align: center;
    height: 200px;
    padding-top: 30px;
    margin-bottom: 40px;
}